/ratel-bench/build/
/ratel-examples/build/
/ratel-bench/dist/
/ratel-bench/nbproject/private/
/ratel-examples/dist/
/ratel-examples/nbproject/private/
/build/
/dist/
/ratel/build/
/ratel/dist/
/ratel/lib/log4j-1.2.16.jar
/ratel/lib/junit-3.8.1.jar
/ratel/lib/portlet-api-2.0.jar
/ratel/lib/stringsearch-2.jar
/ratel/lib/servlet-api-2.5.jar
/ratel/lib/ant-1.9.2.jar
/ratel/lib/slf4j-api-1.5.6.jar
/ratel/lib/velocity-1.7.jar
/ratel-examples/web/WEB-INF/lib/
/documentation/javadocs/ratel-api/
/ratel-examples/web/js/compiled-templates.js