<div class="row">
    <div class="span12">
        <h3 class="sectionHeading">Client Search (with Action)</h3>

        <div id="feedback">
        </div>

        <table id="table" class="table">
            <tr>
                <th>Firstbane</th><th>Lastname</th><th>Action</th>
            </tr>

            <tbody>
                {{#each customers}}
                <tr id="row-{{@index}}">
                    <td>{{firstname}} {{@moo.pok}}</td>
                    <td>{{lastname}}</td>
                    <td>
                        <a href="#" {{action @action type="click"}}>Edit</a> |
                        <a href="#" {{action "action" type="click"}}>Delete</a>
                    </td>

                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
