<form id="form">
    
    <input type="hidden" name="id" id="id"/>

    <h3 class="sectionHeading">Client Edit</h3>

    <div id="feedback">
    </div>

    <div class="required-text"><span class="required-indicator">*</span> indicates required fields</div>

    <div class="row">
        <div class="span12">
            <label class="required" for="firstname">Firstname</label>
            <input type="text" name="firstname" id="firstname" class="span3"/>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <label class="required" for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname" class="span3"/>
        </div>
    </div>

    <div class="row">
        <div class="span12">

            <div class="buttons">
                <button type="button" class="btn btn-primary" id="save"><i class="icon-save"></i> Save</button>
                <span class="btn-spacer"></span>
                <button type="button" class="btn" id="submit"><i class="icon-warning-sign"></i> Cancel</button>
            </div>
        </div>
    </div>

</form>