<ul id="features">
    <li>
        <div>
            <h4>Features</h4>
            <ul class="feature-list">
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Exceptional performance
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    URL auto-mapping
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Supports transparent file uploads
                </li>
            </ul>
            <a href="#">link</a>
        </div>
    </li>

    <li>
        <div class="border">
            <h4>Supports</h4>
            <ul class="feature-list">
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Servlets
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Portlets
                </li>
            </ul>
            <a href="#">link</a>
        </div>
    </li>

    <li class="border">
        <div class="border">
            <h4>Extras</h4>
            <ul class="feature-list">
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Error report returned for exceptions
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    View Java services via '/help' url
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Ratel  is ONE jar, no further dependencies!
                </li>
            </ul>
            <a href="#">link</a>    
        </div>
    </li>
</ul>

<!--
<div id="cont">
    <a  href="" {{action @testAction moo="pok"}}>click me</a>
    <a  href="" {{action @testAction pok="okok"}}>And me</a>


</div>-->
