<div class="row">

    <div class="span12">
        <h1 style="padding-top:30px; padding-bottom:0px;">My <span class="highlightLetter">Dashboard</span></h1>
    </div>

</div>

<div class="row">
    <div class="span6">
        <div class="searchBox set1-color1 searchBoxLeft" id="manageClients"> 
            <div><span class="home-icon icon-upload icon-4x"></span>&nbsp; <span class="home-text headingSmaller">Manage</span></div>
            <div class="searchBoxLarge">Clients</div>
        </div>
    </div>

    <div class="span6">
        <div class="searchBox set1-color4" id="manageProducts"> 
            <div><span class="home-icon icon-upload icon-4x"></span>&nbsp; <span class="home-text headingSmaller">Manage</span></div>
            <div class="searchBoxLarge">Products</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span6">
        <div class="searchBox set1-color2 searchBoxLeft" id="manageServices"> 
            <div><span class="home-icon icon-upload icon-4x"></span>&nbsp; <span class="home-text headingSmaller">Manage</span></div>
            <div class="searchBoxLarge">Services</div>
        </div>
    </div>

    <div class="span6">
        <div class="searchBox set1-color3" id="manageOpportunities">
            <div><span class="home-icon icon-upload icon-4x"></span>&nbsp; <span class="home-text headingSmaller">Manage</span></div>
            <div class="searchBoxLarge">Opportunities</div>
        </div>
    </div>
    
</div>

<!--
<div class="row">
    <div class="span12">
        <div class="searchBox searchBoxCenter" id="trackClaimBox"> 
            <div><span class="home-icon icon-search icon-4x"></span> &nbsp; <span class="home-text headingSmall">Track your claim</span></div>
            <div class="home-text" >Enter your claim reference number: </div>
            <div class="content"><input id="trackNumber" size="22" type="text"  name="trackNumber"/></div>
            <button id="trackClaim" type="button" class="search btn btn-info"><i class="icon-search"></i> Search</button>
        </div>
    </div>
</div>
-->

