pre.programlisting {
    font-size:      9pt;
    padding:        5pt 2pt;
    border:         1pt solid black;
    background:     #eeeeee;
    font-family:    "Courier New",courier;
    padding:1em;
    border:1px solid #888;
    text-align: left;
    line-height: normal;
}

code.filename, code.filename span.pln {
}

code.varname, code.varname span.pln, code.varname span.atv, code.varname span.atn {
    color: blue;
    font-weight: normal;
}

span.symbol, span.symbol span.pln, span.symbol span.atn, span.symbol span.tag,
span.symbol span.atv {
    color: red;
    font-weight: normal;
}

span.command, span.command span.pln {
    color: #7F0055;
}

span.token, span.token span.pln, span.token span.atv {
    color: maroon;
}
