<ul id="features">
    <li>
        <div>
            <h4>Features</h4>
            <ul class="feature-list">
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Exceptional performance
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    URL auto-mapping
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Supports transparent file uploads
                </li>
            </ul>
            <a href="#">link</a>
        </div>
    </li>

    <li>
        <div class="border">
            <h4>Supports</h4>
            <ul class="feature-list">
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Servlets
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Portlets
                </li>
            </ul>
            <a href="#">link</a>
        </div>
    </li>

    <li class="border">
        <div class="border">
            <h4>Extras</h4>
            <ul class="feature-list">
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Error report returned for exceptions
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    View Java services via '/help' url
                </li>
                <li>
                    <span class="icon icon-ok-sign"></span>
                    Ratel  is ONE jar, no further dependencies!
                </li>
            </ul>
            <a href="#">link</a>    
        </div>
    </li>
</ul>

<h2>Quickstart</h2>

<p>1. Add ratel.jar to your classpath.</p>

<p>2. Add <span class="symbol">RatelFilter</span> to your web.xml and map it for all 
(<span class="symbol">/*</span>) requests:</p>

<pre class="prettyprint programlisting linenums">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;web-app&gt;
    &lt;filter&gt;
        &lt;filter-name&gt;ratelFilter&lt;/filter-name&gt;
        &lt;filter-class&gt;<span class="symbol">com.google.ratel.RatelFilter</span>&lt;/filter-class&gt;
        &lt;init-param&gt;
            &lt;param-name&gt;packageNames&lt;/param-name&gt;
            &lt;param-value&gt;com.mycorp.service&lt;/param-value&gt;
        &lt;/init-param&gt;
    &lt;/filter&gt;
    
    &lt;filter-mapping&gt;
        &lt;filter-name&gt;ratelFilter&lt;/filter-name&gt;
        &lt;url-pattern&gt;<span class="symbol">/*</span>&lt;/url-pattern&gt;
    &lt;/filter-mapping&gt;
&lt;/web-app&gt;
</pre>

<p>3. Create a Ratel service to handle incoming requests (A Ratel service is a POJO annotated with <span class="symbol">@RatelService</span>:</p>

<pre class="prettyprint programlisting linenums">
package com.mycorp.service;

  <span class="symbol">@RatelService</span>
  public class MyService {

    public Sting myMethod() {
  
      var json = "{\"message\": \"Hello World\"}";
      return json;
    }

  }
</pre>

Ratel maps this service to the URL:
<pre class="prettyprint programlisting">
http://localhost/MyService/MyMethod
</pre>

