<div class="row">
    <div class="span12">
        <h3 class="sectionHeading">Client Search (inline callback no animation)</h3>

        <div id="feedback">
        </div>

        <table id="table" class="table">
            <tr>
                <th>
                    {{one}}
                </th>

                <th>
                    {{two}}
                </th>

                <th>
                    {{three}}
                </th>
            </tr>

            <tbody>

            </tbody>
        </table>
    </div>
</div>
